<!doctype html>
<html ng-app = "admin">

  <head>
    <title>ADMIN</title>
    <script src= "/static/js/jquery.min.js"></script>
    <script src= "/static/js/bootstrap.min.js"></script>
    <script src='/static/js/angular.min.js'></script>
    <script src='/static/js/admin.js'></script>
    <script src="https://eternicode.github.io/bootstrap-datepicker/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="https://eternicode.github.io/bootstrap-datepicker/bootstrap-datepicker/js/locales/bootstrap-datepicker.pt-BR.min.js" charset="UTF-8"></script>
    

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

    <link href="/static/css/bootstrap-theme.min.css" rel="stylesheet" >
    <link href="/static/css/bootstrap.min.css" rel="stylesheet"  >
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
    <link href="/static/css/admin.css" rel="stylesheet">

    <meta name='viewport' content='width=device-width, initial-scale=1.0'>

  </head>

    <body ng-controller="AdminCtrl as adm">

      <div class="container">

        <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">Estagio UNIFEI</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/trocarsenha"><span class="glyphicon glyphicon-user"></span> Trocar Senha</a></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Sair</a></li>
          </ul>
        </div>
      </div>
    </nav> <!-- /Navigation -->


    <div class="jumbotron">


      <ul class="nav nav-pills nav-justified">
        <li class="active"><a data-toggle="pill" href="#buscar">Buscar</a></li>
        <li><a data-toggle="pill" href="#importar">Importar dados</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Cadastrar
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a data-toggle="pill" href="#tab_aluno">Aluno</a></li>
            <li><a href="#tab_professor" role="tab" data-toggle="tab">Professor</a></li>
            <li><a href="#tab_estagio" role="tab" data-toggle="tab">Estagio</a></li>
          </ul>
        </li>
      </ul>

      <div class="tab-content">

        <!-- Busca-->
        <div id="buscar" class="tab-pane fade in active">
          <form class="form-group" role="search" >
            <p></p><input type="number" class="form-control" placeholder="   RA / SEAP" href="#tab_busca" aria-controls="messages" role="tab" data-toggle="tab" ng-model='pesqText'>
          </form>
          <div role="tabpanel" class="tab-pane panel panel-default fade" id="tab_busca">
            <div class="panel-body" ng-repeat="professor in adm.professores | filter:adm.ProcuraProfessor">
              {{professor.nome}} {{professor.email}} {{professor.seap}} {{professor.telefone}} {{professor.periodo}} {{professor.ch}} {{professor.curso}} 
            </div>          
            <div class="panel-body" ng-repeat="aluno in alunos | filter:adm.ProcuraAluno">
              {{aluno.Conta.Pessoa.Nome}} {{aluno.Conta.Pessoa.Email}} {{aluno.Ra}} {{aluno.Conta.Pessoa.Telefone}} {{aluno.Curso.Nome}} 
              <a href="/discente/{{aluno.Id}}"> gerson xupa penis</a>
              
            </div>
          </div>
        </div>
        <!-- /Busca-->


        <!-- Importa dados-->
        <div id="importar" class="tab-pane">
          <p></p>
          <div >
            <a class='btn btn-primary' href='javascript:;'>
              Buscar arquivo
              <input type="file" name="file_source" size="40"  onchange='$("#upload-file-info").html($(this).val());'>
            </a>
            <p></p><pre><span class="fileinput-new" id="upload-file-info">Nenhum arquivo selecionado</span></pre>
          </div>
          <p></p>
          <div>
            <button type="button" class="btn btn-primary" >Enviar</button>
          </div>
        </div>
        <!-- /Importa dados-->


        <!-- Cadastra estagio-->
        <p></p>
        <div role="tabpanel" class="tab-pane panel panel-default" id="tab_estagio">
          <div class="panel-body">
            <form role="form"> <!-- todo add ng-submit -->

              <h4>Informacoes do aluno</h4>

              <!-- todo botar tudo num form, pq talvez tenha de enviar dados -->

              <div class="row">
                <div class="col-xs-4">
                  <div class="form-group">
                    <label class="sr-only">RA</label>
                    <input class="form-control" type="number" id="estagio_RA" placeholder="RA" ng-model='adm.pessoa.ra' required> 
                  </div>
                </div>

                <fieldset disabled>
                  <div class="col-xs-6">
                    <div class="form-group">
                      <label class="sr-only">Nome</label>
                      <input type="text" class="form-control" id="estagio_name" placeholder="Nome" ng-model='adm.pessoa.nome' required>
                    </div>
                  </div>

                  <div class="col-xs-6">
                    <div class="form-group">
                      <label class="sr-only">E-mail</label>
                      <input class="form-control" type="email" id="estagio_email" placeholder="Email" ng-model='adm.pessoa.email' required/>
                    </div>
                  </div>
                </fieldset>

              </div>


              <fieldset disabled>
                <div class="row">
                  <div class="col-xs-2">
                    <div class="select-group">
                      <label class="sr-only">Curso</label>
                      <select class="form-control" ng-model='adm.pessoa.curso' required>
                        <option value="" selected disabled>Curso</option>
                        <option value="ECO">ECO</option>
                        <option value="EMO">EMO</option>
                        <option value="ECA">ECA</option>
                        <option value="EEL">EEL</option>
                        <option value="EPR">EPR</option>
                        <option value="EMT">EMT</option>
                        <option value="ESS">ESS</option>
                        <option value="EME">EME</option>
                        <option value="EAM">EAM</option>                
                      </select>
                    </div>
                  </div>

                  <div class="col-xs-4">
                    <div class="form-group">
                      <label class="sr-only">Telefone:</label>
                      <input class="form-control" type="tel" id="estagio_telefone" placeholder="Telefone" ng-model='adm.pessoa.telefone' required />
                    </div>
                  </div>

                  <div class="col-xs-3">
                    <div class="form-group">
                      <label class="sr-only">Período:</label>
                      <input class="form-control" type="number" max="10" min="1" value="1" id="estagio_periodo" placeholder="Periodo" ng-model='adm.pessoa.periodo' required/>
                    </div>
                  </div>

                  <div class="col-xs-3">
                    <div class="form-group">
                      <label class="sr-only">Carga horária feita:</label>
                      <input class="form-control" type="text" id="estagio_ch" placeholder="Carga Horaria" ng-model='adm.pessoa.ch' required />
                    </div>
                  </div>
                </div>

              </fieldset>


              <h4>Informacoes do professor</h4>



              <div class="row">

                <div class="col-xs-4">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <input type="checkbox" aria-label="...">
                    </span>
                    <label class="sr-only">SEAP</label>
                    <fieldset disabled>
                      <input class="form-control" type="number" id="estagio_SEAP" placeholder="SEAP" ng-model='adm.pessoa.seap' required> 
                    </fieldset>
                  </div>
                </div>

                <!-- todo as infos. do professor soh precisam serem mostradas, nao precisa ser input -->
                <fieldset disabled>
                  <div class="col-xs-6">
                    <div class="form-group">
                      <label class="sr-only">Nome</label>
                      <input type="text" class="form-control" id="estagio_name" placeholder="Nome" ng-model='adm.pessoa.nome' required>
                    </div>
                  </div>
                </fieldset>
              </div>

              <h4>Informacoes do estagio</h4>

              <div class="row">

                <div class="col-xs-6">
                  <div class="form-group">
                    <label class="sr-only">Local Fisico</label>
                    <input type="text" class="form-control" id="estagio_name" placeholder="Local Fisico" ng-model='adm.estagio.local' required>
                  </div>
                </div>

                <div class="col-xs-4">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> Estagio obrigatorio
                    </label>
                  </div>
                </div>

              </div>


                <div class="row">
                  <div class='col-sm-4'>
                    <div class="form-group">
                      <div class='input-group date' id='datepicker1'>
                        <input type='text' class="form-control" placeholder="Data de inicio" />
                        <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                      </div>
                    </div>
                  </div>
                  <script type="text/javascript">
                      $(function () {
                        $('#datepicker1').datepicker({
                          language: 'pt-BR'
                        });
                      });
                  </script>

                  <div class='col-sm-4'>
                    <div class="form-group">
                      <div class='input-group date' id='datepicker2'>
                        <input type='text' class="form-control" placeholder="Data de termino" />
                        <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                      </div>
                    </div>
                  </div>
                  <script type="text/javascript">
                      $(function () {
                        $('#datepicker2').datepicker({
                          language: 'pt-BR'
                        });
                      });
                  </script>
                </div>


                <button class="btn">Enviar informações</button>
            </form>  
          </div>
        </div>
        <!-- /Cadastra Estagio-->


        <!-- Cadastra Aluno-->
        <p></p>
        <div role="tabpanel" class="tab-pane panel panel-default" id="tab_aluno">
          <div class="panel-body">
            <form role="form" ng-submit='adm.newAluno(pessoa)'>

              <div class="row">
                <div class="col-xs-4">
                  <div class="form-group">
                    <label class="sr-only">RA</label>
                    <input class="form-control" type="number" id="RA" placeholder="RA" ng-model='adm.pessoa.ra' required> 
                  </div>
                </div>

                <div class="col-xs-4">
                  <div class="form-group">
                    <label class="sr-only">Nome</label>
                    <input type="text" class="form-control" id="name" placeholder="Nome" ng-model='adm.pessoa.nome' required>
                  </div>
                </div>

                <div class="col-xs-4">
                  <div class="form-group">
                    <label class="sr-only">E-mail</label>
                    <input class="form-control" type="email" id="email" placeholder="Email" ng-model='adm.pessoa.email' required/>
                  </div>
                </div>

              </div>


              <div class="row">

                <div class="col-xs-2">
                  <div class="select-group">
                    <label class="sr-only">Curso</label>
                    <select class="form-control" ng-model='adm.pessoa.curso' required>
                      <option value="" selected disabled>Curso</option>
                      <option value="ECO">ECO</option>
                      <option value="EMO">EMO</option>
                      <option value="ECA">ECA</option>
                      <option value="EEL">EEL</option>
                      <option value="EPR">EPR</option>
                      <option value="EMT">EMT</option>
                      <option value="ESS">ESS</option>
                      <option value="EME">EME</option>
                      <option value="EAM">EAM</option>                
                    </select>
                  </div>
                </div>

                <div class="col-xs-4">
                  <div class="form-group">
                    <label class="sr-only">Telefone:</label>
                    <input class="form-control" type="tel" id="telefone" placeholder="Telefone" ng-model='adm.pessoa.telefone' required />
                  </div>
                </div>

                <div class="col-xs-3">
                  <div class="form-group">
                    <label class="sr-only">Período:</label>
                    <input class="form-control" type="number" max="10" min="1" value="1" id="periodo" placeholder="Periodo" ng-model='adm.pessoa.periodo' required/>
                  </div>
                </div>

                <div class="col-xs-3">
                  <div class="form-group">
                    <label class="sr-only">Carga horária feita:</label>
                    <input class="form-control" type="text" id="ch" placeholder="Carga Horaria" ng-model='adm.pessoa.ch' required />
                  </div>
                </div>
              </div>

              <button class="btn">Enviar informações</button>

            </form>  
          </div>
        </div>
        <!-- /Cadastra Aluno-->


        <!-- Cadastra professor-->
        <p></p>
        <div role="tabpanel" class="tab-pane panel panel-default" id="tab_professor">
          <div class="panel-body">
            <form role="form" ng-submit='adm.newProfessor(pessoa)'>


              <div class="row">
                <div class="col-xs-4">
                  <div class="form-group">
                    <label class="sr-only">SEAP</label>
                    <input class="form-control" type="number" id="SEAP" placeholder="SEAP" ng-model='adm.pessoa.seap' required> 
                  </div>
                </div>

                <div class="col-xs-4">
                  <div class="form-group">
                    <label class="sr-only">Nome</label>
                    <input type="text" class="form-control" id="name" placeholder="Nome" ng-model='adm.pessoa.nome' required>
                  </div>
                </div>

                <div class="col-xs-4">
                  <div class="form-group">
                    <label class="sr-only">E-mail</label>
                    <input class="form-control" type="email" id="email" placeholder="Email" ng-model='adm.pessoa.email' required/>
                  </div>
                </div>

              </div>

              <div class="row">
                <div class="col-xs-2">
                  <div class="select-group">
                    <label class="sr-only">Curso</label>
                    <select class="form-control" ng-model='adm.pessoa.curso' required>
                      <option value="" selected disabled>Curso</option>
                      <option value="ECO">ECO</option>
                      <option value="EMO">EMO</option>
                      <option value="ECA">ECA</option>
                      <option value="EEL">EEL</option>
                      <option value="EPR">EPR</option>
                      <option value="EMT">EMT</option>
                      <option value="ESS">ESS</option>
                      <option value="EME">EME</option>
                      <option value="EAM">EAM</option>                
                    </select>
                  </div>
                </div>

                <div class="col-xs-4">
                  <div class="form-group">
                    <label class="sr-only">Telefone:</label>
                    <input class="form-control" type="tel" id="telefone" placeholder="Telefone" ng-model='adm.pessoa.telefone' required />
                  </div>
                </div>

              </div>


              <button class="btn" >Enviar informações</button>
            </form>
          </div>
        </div>
        <!-- /Cadastra professor-->

      </div>

    </div>

    <footer class="footer">
      <p>&copy; IHC-Grupo 1, Inc.</p>
    </footer>

    </body>
</html>
