<!doctype html>
<html ng-app>
<head>
  <meta charset='UTF-8'>
  <title>TITULO ALUNO</title> 
  <script src='/static/js/jquery.min.js'></script>
  <script src='/static/js/aluno.js'></script>
  <script src='/static/js/angular.min.js'></script>
  <link rel='stylesheet' href='/static/css/bootstrap-theme.min.css'>  
  <link rel='stylesheet' href='/static/css/bootstrap.min.css'>  
  <link rel='stylesheet' href='/static/css/aluno.css'>  
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
</head>
<body>
  <header>
    <div class='unifei'>Sistema de estagio <span>Universidade Federal de Itajuba - Itabira</span></div>
  </header>
<div class="container">
  <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation" class="active"><a href="index.html">Log Out</a></li>
      </ul>
    </nav>
    <h3 class="text-muted">Estagio Unifei</h3>
  </div>
  
  <div id ="bemvindo" class="jumbotron">
    <p>Bem vindo 

<br>
Usuario
<br>
Nome: <<<.Usuario.Nome>>>,
ID: <<<.Usuario.Id>>>, 
Tel: <<<.Usuario.Telefone>>>, 
Email: <<<.Usuario.Email>>>, 
Privilégio: <<<.Usuario.Privilegio>>>
<br>

Aluno
<br>
RA: <<<.Aluno.Ra>>>, 
Periodo: <<<.Aluno.Periodo>>>, 
Carga Horaria: <<<.Aluno.CargaHoraria>>>
<br>

Curso
<br>
ID: <<<.Curso.Id>>>,
Nome: <<<.Curso.Nome>>>,
Carga Horaria Obrigatoria: <<<.Curso.CHObrigatoria>>>,
Carga Horaria Nao Obrigatoria: <<<.Curso.CHNObrigatoria>>>,
Periodo Nao Obrigatorio: <<<.Curso.PeriodoNObrigatorio>>>,
Periodo Obrigatorio: <<<.PeriodoObrigatorio>>>
<br>
<br>


      selecione o estagio desejado e veja todas as informações disponiveis, atente-se tambem aos alertas para não esquecer de entregar nenhum documento.</p>
  </div>  

  <div class="jumbotron">
    <div class="estagios">
    <h3> Estagios</h3>
    <div class="panel-group">
      <div class="panel panel-default">

        <<<range $i, $e := .Estagios>>>
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse1">Estagio #<<<$i>>></a>
            </h4>
          </div>
            
          <div id="collapse<<<$i>>>" class="panel-collapse collapse in">
            <ul class="list-group">
              <li class="list-group-item">ID: <<<$e.Id>>></li>
              <li class="list-group-item">Professor: <<<$e.Professor>>></li>
              <li class="list-group-item">Local Fisico: <<<$e.LocalFis>>></li>
              <li class="list-group-item">Obrigatoriedade: <<<$e.Obrigatoriedade>>></li>
              <li class="list-group-item">Data Inicio: <<<$e.DataInicio>>></li>
              <li class="list-group-item">Data Fim: <<<$e.DataFim>>></li>
            </ul>
          </div>
        <<<end>>>
        
      </div>
    </div>
  </div>
  
  <h3>Alertas</h3>

  <div class="alert alert-success" role="alert">
    <strong>Congrats!</strong> Todos documentos enviados!
  </div>

  <div class="alert alert-danger" role="alert">
    <strong>SeLOCO!</strong> Envia as parada ai mermao!
  </div>

  </div>

</div> <!-- /container -->
  <footer>
    <div class='registrada'>&copy; IHC-Grupo 1, Inc.</div>
  </footer>
  <img src='/static/img/teste.jpg' style='position:fixed;top:0px;left:0px;width:100%;height:100%;z-index:-1;'>
</body>
</html>














