<!DOCTYPE html>
<html ng-app>
<head>
  <meta charset="utf-8">
  <title>ESTAGIO PROFESSOR</title>

  <script src= "/static/js/jquery.min.js"></script>
  <script src= "/static/js/bootstrap.min.js"></script>
  <script src='/static/js/angular.min.js'></script>
  <script src='/static/js/estagio.js'></script>

  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

  <link href="/static/css/bootstrap-theme.min.css" rel="stylesheet" >
  <link href="/static/css/bootstrap.min.css" rel="stylesheet"  >
  <link href="/static/css/estagio.css" rel="stylesheet">

  <meta name='viewport' content='width=device-width, initial-scale=1.0'>

</head>

<body>

  <div class="container"> <!-- Container -->

  <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">Estagio UNIFEI</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/docente"><span class="glyphicon glyphicon-chevron-left"></span> Voltar</a></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Sair</a></li>
          </ul>
        </div>
      </div>
    </nav> <!-- /Navigation -->

    <div class="jumbotron">
      <div class="estagios">
        <h3>Informações do estagio</h3>
        <ul class="list-group">
          <li class="list-group-item">Professor: <<<.Estagio.Professor>>></li>
          <li class="list-group-item">Local Fisico: <<<.Estagio.LocalFis>>></li>
          <li class="list-group-item">Obrigatoriedade: <<<.Estagio.Obrigatoriedade>>></li>
          <li class="list-group-item">Data Inicio: <<<.Estagio.DataInicio>>></li>
          <li class="list-group-item">Data Fim: <<<.Estagio.DataFim>>></li>
        </ul>
      </div>
    </div>

    <footer class="footer">
      <p>&copy; IHC-Grupo 1, Inc.</p>
    </footer>

  </div> <!-- /container -->

</body>
</html>
