<!doctype html>
<html ng-app>
<head>
  <meta charset='UTF-8'>
  <title><<<.HeadTitle>>></title> 
  <script src='/static/js/angular.min.js'></script>
  <link rel='stylesheet' href='/static/css/base.css'>  
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <<<range .HeadStyles>>>
    <link rel='stylesheet' href='<<<.>>>'>
  <<<end>>>
  <<<range .HeadScripts>>>
    <script src='<<<.>>>'></script>
  <<<end>>>
</head>
<body>
  <header>
    <div class='unifei'>Sistema de estagio <span>Universidade Federal de Itajuba - Itabira</span></div>
  </header>
  <<<.LayoutContent>>>
  <footer>
    <div class='registrada'>&copy; IHC-Grupo 1, Inc.</div>
  </footer>
  <img src='/static/img/teste.jpg' style='position:fixed;top:0px;left:0px;width:100%;height:100%;z-index:-1;'>
</body>
</html>

