<div class='login container' ng-controller='LoginCtrl'>
  <div class='login-triangle'></div>
  <h2 class='login-header'>Log in</h2>
  <form class='login-container' ng-submit='Entrar()'>
    <p><input type='text' placeholder='Email' ng-model='emailText'></p>
    <p><input type='password' placeholder='Senha' ng-model='senhaText'></p>
    <p><input type='submit' id='submit' value='Entrar' ng-disabled='working'></p>
  </form>
  <img class='spinner' src='/static/img/spinner.gif' alt='Loading' ng-class='{working: working}'/>
</div>
